<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>predict</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body {
            background-image: url("https://cdn.wallpapersafari.com/28/20/pogUmi.jpg");
        background-size: cover;
        }
        h3.big
        {       
            line-height:1.8;
        }
    </style>
</head>
<body>
    <br>
    <div class="container">

        <div class="row">
            <div class="col-md-12 bg-light text-right">
                <a href="/" class="btn btn-info btn-lg">Home</a>
                <a href="/about" class="btn btn-info btn-lg">About</a>
                <a href="/events" class="btn btn-primary disabled btn-lg">Predict</a>
            </div>
        </div>

        <br>
        <h1><strong>Happiness Classification</strong></h1><br>
        <h4>
        <form action="/submit", method="post">
            <div class="form-group row">
                <div class="col-md-3">
</head>
<body>

        <label for="infoavail">infoavail</label><br>
        <input type="number" id="infoavail" name="infoavail" required>
        </select>
        
        <br><br>
        <label for="housecost">housecost</label><br>
        <input type="number" id="housecost" name="housecost" required>
        
        <br><br>
        <label for="schoolquality">schoolquality</label><br>
        <input type="number" id="schoolquality" name="schoolquality" required>
        </select>

        <br><br>
        <label for="policetrust">policetrust</label><br>
        <input type="number" id="policetrust" name="policetrust" required>
        </select>

        <br><br>
        <label for="streetquality">streetquality</label><br>
        <input type="number" id="streetquality" name="streetquality" required>
        </select>
        <br><br>

        <label for="ëvents">ëvents</label><br>
        <input type="number" id="ëvents" name="ëvents" required></select>
        <br><br>

        <button type="submit" class="btn btn-success btn-lg">submit</button>
    </form>
    <br>
      </h4>
    </div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>