<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body
        {
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkTlGS-WLV7X3O2WZAI2jp0-tGGVtmjtpmoQ&usqp=CAU");
        background-size: cover;
        }
        h3.big
        {
        line-height: 1.8;
        }
    </style>
</head>
<body>
   <br>

        <div class="container">

            <div class="row">
                <div class="col-md-12 bg-light text-right">
                    <a href="/" class="btn btn-info btn-lg">Home</a>
                    <a href="/about" class="btn btn-info btn-lg">About</a>
                    <a href="/predict" class="btn btn-primary btn-lg">Predict</a>
                    
                </div>
            </div>
            <h1><strong>Happiness Classification</strong></h1><br>
            <br>
            <h2>
           <p style="color:rgb(77, 0, 128);"> Based on the given input, the Prediction is {{ predict }}.</p>
            </h2>

        </div>

</body>
</html>